main {
    font-family: Century Gothic, serif;
}

#postName {
    font-family: Century Gothic, serif;
    padding-right: 200px;
    margin-bottom: 15px;
}

#postBody {
    font-family: Century Gothic, serif;
    width: 360px;
    height: 100px;
    overflow: auto;
    resize: vertical;
}

#postButton {
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    padding: 20px;
    margin: 0 auto;
}

.post-box {
    border: 2px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
}

.post-box h3 {
    margin: 10px 0;
}

.tab {
    display: inline-block;
    margin-left: 30px;
}

.delete-button-blog {
    float: right;
    cursor: pointer;
    color: #555;
    margin-right: 10px;
    transition: color 0.2s ease-in-out;
}

.delete-button:hover {
    color: #007bff;
}