#postName {
    padding-right: 200px;
    margin-bottom: 15px;
}

#postBody {
    padding-right: 200px;
    padding-bottom: 100px;
    margin-bottom: 15px;
}

#postButton {
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
}