html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Century Gothic, serif;
}

main {
    width: 80%;
    margin: auto auto;
    padding: 20px;
    height: auto;
}

#indexSearchText {
    width: 60%;
    padding: 10px;
    margin: 10px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 10px 0 rgba(0, 0, 0, 0.4);
}

#indexSearchButton {
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
}

#indexImg {
    width: 100%;
}

#number {
    font-family: Century Gothic, serif;
    padding: 10px;
}

#donationAmount {
    font-family: Century Gothic, serif;
    padding: 10px;
}

#donationButton {
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
    font-family: Century Gothic, serif;
}

footer {
    margin-top: auto;
}

h2 {
    padding-left: 20px;
}

p {
    padding-left: 20px;
}