html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Century Gothic, serif;
}

main {
    width: 80%;
    margin: auto auto;
    padding: 20px;
    height: auto;
}

#recipeImg {
    width: 50%;
    height: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}